img{
  width: 175px; 
  height: 175px; 
}

.floating {
    animation: floatAnimation 3s ease-in-out infinite;
  }
  
  @keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .icon-container {
  position: relative;
  display: inline-block;
  margin: 10rem;
}

.icon-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 50px;
}

.icon-container:hover .icon-text {
  opacity: 1;
}